{% extends 'base.html.twig' %}

{% block body %}
    <div class="clear"></div>
    {{ parent() }}
    <div class="container mt-5 mb-5 text-center" style="padding-top: 100px;">
        <div class="row">
            <div class="col">
                <label for="">Rechercher par code postale</label>
                <input id='test' type="text" value="">
                <input type="submit" id="envoie" value="Envoyer">
            </div>
        </div>


        <!-- Content here -->
       <a href="{{ path('subs') }}" class="condi">
            <button type="button" class="btn  hmed">Abonnement</button>
        </a>
    </div>

    {#profil#}
    <div class="container ">
        <div class="row">

            {% for flash_message in app.session.flashBag.get('success') %}
                <div class="alert alert-success text-center">
                    {{ flash_message }}
                </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="container text-center  mb-2">
                    <div class="row ">
                        <div class="col-md h1" style="border-radius: 30px; padding: 5%;">Profil</div>
                    </div>
                </div>
                <ul class="list-group mb-3">
                    <li class="list-group-item"><span class="text-info font-weight-bold">Nom : </span>{{ parent.nom }}</li>
                    <li class="list-group-item"><span class="text-info font-weight-bold">Prénom : </span>{{ parent.prenom }}</li>
                    <li class="list-group-item"><span class="text-info font-weight-bold">Adresse : </span>{{ parent.adresse }}</li>
                    <li class="list-group-item"><span class="text-info font-weight-bold">Téléphone : </span>{{ parent.telephone }}</li>
                    <li class="list-group-item"><span class="text-info font-weight-bold">Email : </span>{{ parent.mail }}</li>
                    <li class="list-group-item"><a href="{{ asset('fichiers/parents/') }}{{ parent.revenu }}" target="_blank">Les Derniers Revenus</a></li>
                    <li class="list-group-item"><a href="{{ asset('fichiers/parents/') }}{{ parent.impots }}">Fiche d'impôts</a></li>
                    <li class="list-group-item"><a href="{{ asset('fichiers/parents/') }}{{ parent.attestationcaf }}">CAF</a></li>
                    <li class="list-group-item"><a href="{{ asset('fichiers/parents/') }}{{ parent.justificatifdomicile }}">Justification de domicile</a></li>
                    <li class="list-group-item"><a href="{{ asset('fichiers/parents/') }}{{ parent.livretdefamille }}">Livret de Famille</a></li>
                </ul>
                <br><a href="{{ path('editparent', { 'id' : app.user.id }) }}">
                    <button type="button" class="btn hmed ">Modifier</button>
                     </a>
                     <a href="{{ path('modifpassword', { 'id' : app.user.id }) }}">
                         <button type="button" class="btn hmed ">Modifier mot de passe</button>
                     </a>
                </div>

            {#profil enfant#}
            <div class="col-md-4 offset-md-4">
                <div class="col-md h1 text-center mb-2">Vos Enfants</div>


                <table class="table profil">
                    <thead class="thead-light font-weight-bold">
                    <tr>
                        <th scope="col">Prénom</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>

                    {% if data is defined %}
                    {% for enfant in data %}
                    <tbody>
                    <tr class="table-primary">
                        <th>{{ enfant.prenom }}</th>
                        <th>{{ enfant.nom }}</th>
                        <th>
                            <a href="{{ path('editsenfant', { 'id' : app.user.id, 'enfant_id' : enfant.id }) }}">Modifier</a>
                            <a href="{{ path('showenfant', { 'id' : app.user.id, 'enfant_id' : enfant.id }) }}">Voir</a>
                        </th>
                    </tr>
                    </tbody>
                    {% endfor %}
                    {% endif %}



                </table>
                <div class="text-center">
                    <a href="">
                        <a href="{{ path('créerenfant', { 'id' : app.user.id }) }}"><button type="button" class="btn  text-right hmed  ">Ajouter</button></a>
                    </a>
                    <a href="">
                        <button type="button" class="btn  text-right hmed  ">Modifier</button>
                    </a>
                </div>
            </div>
        </div>

{#liste des demande de creche#}
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div class="col-md h1 text-center mb-2" style="border-radius: 30px; padding: 5%;">Liste des demandes</div>

                </div>
            </div>
        </div>

        <div class="container mt-3">
            <div class="row">
                <table class="table">
                    <thead class="hmed font-weight-bold">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nom du professionnel</th>
                        <th scope="col">date de demande</th>
                        <th scope="col">statut</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Crêche du nord</td>
                        <td>10/08/1989</td>
                        <td>Refusé</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Crêche du sud</td>
                        <td>10/08/1989</td>
                        <td>Refusé</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Crêche de l'ouest</td>
                        <td>10/08/1989</td>
                        <td>Accepté</td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>Crêche de l'est</td>
                        <td>10/08/1989</td>
                        <td>Accepté</td>
                    </tr>
                    </tbody>
                </table>
                {#   HERE#}

            </div>
        </div>


{#liste d'attente#}
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div class="col-md h1 text-center mb-2" style="border-radius: 30px; padding: 5%;">Liste d'attente</div>
                </div>
            </div>
        </div>
        <div class="container mt-3">
            <div class="row">
                <table class="table">
                    <thead class="hmed font-weight-bold">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nom du professionnel</th>
                        <th scope="col">date de demande</th>
                        <th scope="col">statut</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Crêche du nord</td>
                        <td>10/08/1989</td>
                        <td>En attente</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Crêche du sud</td>
                        <td>10/08/1989</td>
                        <td>En attente</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Crêche de l'ouest</td>
                        <td>10/08/1989</td>
                        <td>En attente</td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>Crêche de l'est</td>
                        <td>10/08/1989</td>
                        <td>En attente</td>
                    </tr>
                    </tbody>
                </table>
                {#   HERE#}

            </div>
        </div>

        {#liste des avis#}
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div class="col-md h1 text-center mb-4" style="border-radius: 30px; padding: 5%;">Liste des avis</div>
                </div>
            </div>
        </div>
        <div class="row" >

            <div class="col-md-4">

                <div class="panel panel-default p-2 panel-index-color" style="background-color: #eee;">
                    <div class="panel-heading text-sm-center mb-2" ><h3>Avis 1</h3></div>
                    <div class="panel-body">Mes enfants ont était gardé par la crêche du nord je remercie super nany pour son travail c'est un endroit que je conseille

                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="panel panel-default p-2 panel-index-color" style="background-color: #eee;">
                    <div class="panel-heading text-sm-center mb-2"><h3>Avis 2</h3></div>
                    <div class="panel-body">Mes enfants ont était gardé par la crêche du sud je remercie super nany pour son travail c'est un endroit que je conseille

                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="panel panel-default p-2 panel-index-color " style="background-color: #eee;">
                    <div class="panel-heading text-sm-center mb-2"><h3>Avis 3</h3></div>
                    <div class="panel-body">Mes enfants ont était gardé par la crêche de l'ouest je remercie super nany pour son travail c'est un endroit que je conseille

                    </div>
                </div>
            </div>
            <div class="col-md-6 offset-md-3 mt-3">
                <a href="{{ path ('review') }}" class="btn hmed btn-block mt-3 mb-3">Voir tous les avis</a>
            </div>
        </div>
    </div>



{% endblock body %}


{% block javascripts %}
    {{ parent() }}
    <script>


       var t = $('#envoie').click(function ()
       {
           let y = $('#test').val();


           window.location.href = 'http://127.0.0.1:8000/map/' + y;


            $.ajax({
                url: 'http://127.0.0.1:8000/map/' + y,
                type: 'POST',
                dataType: 'html',
                success: function (y) {
                    window.location.replace('http://127.0.0.1:8000/map/' + y)
                }
            })

       });


    </script>

{% endblock javascripts %}
