{% extends 'base.html.twig' %}

{% block title %}Modifier votre profil{% endblock title %}

{% block body %}

    {{ parent() }}
    <div class="clear"></div>

    {#   HERE#}

    <!------ Include the above in your HEAD tag ---------->

                <div class="contentform">
                    <div class="col-md-12">
                        {{ form_start(form) }}
                            <h1 class="text-center">Renseigner votre profil</h1>
                            <hr class="colorgraph">
                        <div class="form-group">
                            {{ form_row(form.mail, {'attr' : { 'class' : 'form-control input-lg mt-3'}}) }}
                        </div>
                        <div class="row">
                                <div class="col-xs-12 col-sm-6 col-md-6">
                                    <div class="form-group">
                                        {{ form_row(form.nom, {'attr' : { 'class' : 'form-control input-lg mt-3'}}) }}
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-6">
                                    <div class="form-group">
                                        {{ form_row(form.prenom, {'attr' : { 'class' : 'form-control input-lg mt-3'}}) }}
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-6">
                                    <div class="form-group">
                                        {{ form_row(form.codepostal, {'attr' : { 'class' : 'form-control input-lg mt-3'}}) }}
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-6">
                                    <div class="form-group">
                                        {{ form_row(form.adresse, {'attr' : { 'class' : 'form-control input-lg mt-3'}}) }}
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-6">
                                    <div class="form-group">
                                        {{ form_row(form.ville, {'attr' : { 'class' : 'form-control input-lg mt-3'}}) }}
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-6">
                                    <div class="form-group">
                                        {{ form_row(form.telephone, {'attr' : { 'class' : 'form-control input-lg mt-3'}}) }}
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-6">
                                    <div class="form-group">
                                        {{ form_label(form.revenu, 'Veuillez mettre vos trois derniers bulletins de salaire (JPEG/PDF)', {
                                            'label_attr': {'class': 'lab'}
                                        }) }}
                                        {{ form_widget(form.revenu, {'attr' : { 'class' : 'form-control input-lg mt-3'}}) }}
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-6">
                                    <div class="form-group">
                                        {{ form_label(form.impots, 'Veuillez mettre une photo de votre déclaration d\'impôts (JPEG/PDF)', {
                                            'label_attr': {'class': 'lab'}
                                        }) }}
                                        {{ form_widget(form.impots, {'attr' : { 'class' : 'form-control input-lg'}}) }}
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-6">
                                    <div class="form-group">
                                        {{ form_label(form.justificatifdomicile, 'Veuillez mettre une photo de votre justificatif de domicile (JPEG/PDF)', {
                                            'label_attr': {'class': 'lab'}
                                        }) }}
                                        {{ form_widget(form.justificatifdomicile, {'attr' : { 'class' : 'form-control input-lg'}}) }}
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-6">
                                    <div class="form-group">
                                        {{ form_label(form.attestationcaf, 'Veuillez mettre une photo de votre attestation de caf (JPEG/PDF)', {
                                            'label_attr': {'class': 'lab'}
                                        }) }}
                                        {{ form_widget(form.attestationcaf, {'attr' : { 'class' : 'form-control input-lg'}}) }}
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-6">
                                    <div class="form-group">
                                        {{ form_label(form.livretdefamille, 'Veuillez mettre une photo de la page concernant l\'enfant sur le livret de famille (JPEG/PDF)', {
                                            'label_attr': {'class': 'lab'}
                                        }) }}
                                        {{ form_widget(form.livretdefamille, {'attr' : { 'class' : 'form-control input-lg'}}) }}
                                    </div>
                                </div>
                            </div>



                            <hr class="colorgraph">
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 col-md-6">
                                    <input class="btn btn-success btn-block pb-lg-4" type="button" onclick="location.href='{{ path('dashboardparent', {'id' : app.user.id}) }}';" value="Retour" />
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-6">
                                    <input type="submit" class="btn btn-success btn-block pb-lg-4" value="Enregistrer">
                                </div>

                            </div>
                        {{ form_end(form) }}
                    </div>
                </div>




{% endblock body %}