{% extends 'base.html.twig' %}

{% block body %}
<div class="clear"></div>
    {{ parent() }}
    <div class="container mt-5 mb-5 text-center" style="padding-top: 100px">
        <a href=""><button type="button" class="btn hmed">Abonnement</button></a>
    </div>

    {#profil#}
    <div class="container ">
        <div class="row">

            {% for flash_message in app.session.flashBag.get('success') %}
                <div class="alert alert-success text-center">
                    {{ flash_message }}
                </div>
            {% endfor %}
        </div>
        <div class="row">
        
          <div class="col-md-4"></div>
            
            <div class="col-md-5">
                <div class="container text-center mb-2">
                    <div class="row ">
                        <div class="col-md h1" style="border-radius: 30px; padding: 5%;">Profil</div>
                        <p>Veuillez remplir vos informations pour que les parents puissent vous retrouver via notre système de recherche par géolocalisation</p>
                    </div>
                </div>
                <ul class="list-group mb-3">
                    <li class="list-group-item"><span class="text-info font-weight-bold">Nom : </span> {{ pro.nomEntreprise }}</li>
                    <li class="list-group-item"><span class="text-info font-weight-bold">Adresse : </span>{{ pro.adresse }}</li>
                    <li class="list-group-item"><span class="text-info font-weight-bold">vIlle : </span>{{ pro.ville }}</li>
                    <li class="list-group-item"><span class="text-info font-weight-bold">Code Postal : </span>{{ pro.codepostal }}</li>
                    <li class="list-group-item"><span class="text-info font-weight-bold">Téléphone : </span>{{ pro.telephone }}</li>
                    <li class="list-group-item"><span class="text-info font-weight-bold">Email : </span>{{ pro.mail }}</li>
                    <li class="list-group-item"><span class="text-info font-weight-bold">Disponibilité : </span> {{ pro.disponibilite ? 'OUI' : 'NON' }}</li>
                    <li class="list-group-item"><span class="text-info font-weight-bold">Nombre de places : </span>{{ pro.nombredeplace }}</li>
                    <li class="list-group-item"><span class="text-info font-weight-bold">Nombre d'employés : </span>{{ pro.nombrePersonnel }}</li>
                </ul>
                <a href="{{ path('editproprofil', {'id': app.user.id }) }}">
                    <button type="button" class="btn hmed">Modifier</button>
                </a>
                <a href="{{ path('modifpasswordpro', { 'id' : app.user.id }) }}">
                    <button type="button" class="btn hmed ">Modifier mot de passe</button>
                <a href="{{ path('creerplanning', { 'id' : app.user.id}) }}">
                    <button type="submit" class="btn hmed">Ajouter planning</button>
                </a>
                <a href="{{ path('voirplanning', { 'id' : app.user.id }) }}">
                    <button type="submit" class="btn hmed">Voir les plannings</button>
                </a>
            </div>
            {#profil enfant#}
            <div class="col-md-3 offset-md-4">
                <div class="profile-img">
                    <img src="{{ asset('images/avatar/') }}{{ pro.avatar }}" alt="">
                    </div>
                </div>
            </div>
        <h1 class="text-uppercase text font-weight-bold">Voici le calendrier visuel pour avoir un visuel direct sur vos journées qui sont occupées</h1>
        <div id="calendar" class="mt-5"></div>
        {#liste des demande de creche#}
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div class="col-md h1 text-center mb-2" style="border-radius: 30px; padding: 5%;">Liste des demandes</div>

                </div>
            </div>
        </div>

        <div class="container mt-3">
            <div class="row">
                <table class="table">
                    <thead class="hmed font-weight-bold">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nom du particulier</th>
                        <th scope="col">date de demande</th>
                        <th scope="col">statut</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>?;?</td>
                        <td>10/08/1989</td>
                        <td>Refusé</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>;?;</td>
                        <td>10/08/1989</td>
                        <td>Refusé</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>!:!</td>
                        <td>10/08/1989</td>
                        <td>Accepté</td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>:!:</td>
                        <td>10/08/1989</td>
                        <td>Accepté</td>
                    </tr>
                    </tbody>
                </table>
                {#   HERE#}
                <div class="col-md-6 offset-md-3 mt-3">
                    <a href="#" class="btn hmed btn-block mt-3 mb-3">Voir vos demandes</a>
                </div>
            </div>
        </div>

{#liste des membres #}
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div class="col-md h1 text-center mb-2" style="border-radius: 30px; padding: 5%;">Liste des membres</div>

                </div>
            </div>
        </div>

        <div class="container mt-3">
            <div class="row">
                <table class="table">
                    <thead class="hmed font-weight-bold">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nom du parent</th>
                        <th scope="col">Prénom du parent</th>
                        <th scope="col">Prénom de l'enfant</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>?;?</td>
                        <td>10/08/1989</td>
                        <td>Refusé</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>;?;</td>
                        <td>10/08/1989</td>
                        <td>Refusé</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>!:!</td>
                        <td>10/08/1989</td>
                        <td>Accepté</td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>:!:</td>
                        <td>10/08/1989</td>
                        <td>Accepté</td>
                    </tr>
                    </tbody>
                </table>
                {#   HERE#}
                <div class="col-md-6 offset-md-3 mt-3">
                    <a href="#" class="btn hmed btn-block mt-3 mb-3">Voir vos membres</a>
                </div>
            </div>
        </div>

        {#liste d'attente#}
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div class="col-md h1 text-center mb-2" style="border-radius: 30px; padding: 5%;">Liste d'attente</div>
                </div>
            </div>
        </div>
        <div class="container mt-3">
            <div class="row">
                <table class="table">
                    <thead class="hmed font-weight-bold">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nom du particulier</th>
                        <th scope="col">date de demande</th>
                        <th scope="col">statut</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>,;,</td>
                        <td>10/08/1989</td>
                        <td>En attente</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>;,;</td>
                        <td>10/08/1989</td>
                        <td>En attente</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>$/$</td>
                        <td>10/08/1989</td>
                        <td>En attente</td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>/$/</td>
                        <td>10/08/1989</td>
                        <td>En attente</td>
                    </tr>
                    </tbody>
                </table>
                {#   HERE#}
                <div class="col-md-6 offset-md-3 mt-3">
                    <a href="#" class="btn hmed btn-block mt-3 mb-3">Voir votre liste d'attente</a>
                </div>
            </div>
        </div>

        {#liste des avis#}
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div class="col-md h1 text-center mb-4" style="border-radius: 30px; padding: 5%;">Liste des avis</div>
                </div>
            </div>
        </div>
        <div class="row" >

            <div class="col-md-4">

                <div class="panel panel-default p-2 panel-index-color" style="background-color: #eee;">
                    <div class="panel-heading text-sm-center mb-2" ><h3>Avis 1</h3></div>
                    <div class="panel-body">Mes enfants ont étaient gardé par la crêche du nord je remercie super nany pour son travail c'est un endroit que je conseil

                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="panel panel-default p-2 panel-index-color" style="background-color: #eee;">
                    <div class="panel-heading text-sm-center mb-2"><h3>Avis 2</h3></div>
                    <div class="panel-body">Mes enfants ont étaient gardé par la crêche du nord je remercie super nany pour son travail c'est un endroit que je conseil

                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="panel panel-default p-2 panel-index-color " style="background-color: #eee;">
                    <div class="panel-heading text-sm-center mb-2"><h3>Avis 3</h3></div>
                    <div class="panel-body">Mes enfants ont étaient gardé par la crêche du nord je remercie super nany pour son travail c'est un endroit que je conseil

                    </div>
                </div>
            </div>
            <div class="col-md-6 offset-md-3 mt-3">
                <a href="#" class="btn hmed btn-block mt-3 mb-3">Voir tous les avis</a>
            </div>
        </div>
    </div>

{% endblock body %}