{% extends 'base.html.twig' %}

{% block title %}ProProfil index{% endblock %}

{% block body %}
    <h1>ProProfil index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom_entreprise</th>
                <th>Mail</th>
                <th>Ville</th>
                <th>Codepostal</th>
                <th>Adresse</th>
                <th>Telephone</th>
                <th>Password</th>
                <th>Token</th>
                <th>Created_at</th>
                <th>Updated_at</th>
                <th>Nombre_personnel</th>
                <th>Disponibilite</th>
                <th>Tarif</th>
                <th>Horaire</th>
                <th>Statut</th>
                <th>Nombredeplace</th>
                <th>Roles</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for pro_profil in pro_profils %}
            <tr>
                <td>{{ pro_profil.id }}</td>
                <td>{{ pro_profil.nomEntreprise }}</td>
                <td>{{ pro_profil.mail }}</td>
                <td>{{ pro_profil.ville }}</td>
                <td>{{ pro_profil.codepostal }}</td>
                <td>{{ pro_profil.adresse }}</td>
                <td>{{ pro_profil.telephone }}</td>
                <td>{{ pro_profil.password }}</td>
                <td>{{ pro_profil.token }}</td>
                <td>{{ pro_profil.createdAt ? pro_profil.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ pro_profil.updatedAt ? pro_profil.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ pro_profil.nombrePersonnel }}</td>
                <td>{{ pro_profil.disponibilite ? 'Yes' : 'No' }}</td>
                <td>{{ pro_profil.tarif }}</td>
                <td>{{ pro_profil.horaire ? pro_profil.horaire|json_encode : '' }}</td>
                <td>{{ pro_profil.statut ? 'Yes' : 'No' }}</td>
                <td>{{ pro_profil.nombredeplace }}</td>
                <td>{{ pro_profil.roles ? pro_profil.roles|join(', ') : '' }}</td>
                <td>
                    <a href="{{ path('pro_profil_show', {'id': pro_profil.id}) }}">show</a>
                    <a href="{{ path('pro_profil_edit', {'id': pro_profil.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="19">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('pro_profil_new') }}">Create new</a>
{% endblock %}
