<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        <link rel="stylesheet" href="{{ asset('build/app.css') }}">



    {% endblock %}
</head>
<body>

{{ include('inc/header.html.twig') }}
{% block body %}

{% endblock %}
{{ include('inc/footer.html.twig') }}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    <script src="{{ asset('build/app.js') }}"></script>
{#    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>#}

{% endblock %}

</body>
</html>
