{% extends 'base.html.twig' %}

{% block body %}

    {{ parent() }}
    //container
    <div class="container ner">
        <div class="col">
            <h1 class="h1 text-center mt-5 titl">Les p'tits poussins</h1>
        </div>
    </div>

    <div class="container ">
    <div class="row">
    <div class="col">
        <img class="img-fluid mt-4 " src={{ asset('build/images/photo1.jpg') }} alt="image_creche"/>
    </div>
    <div class="col">
        <h2 class="h2 text-center mt-2 mb-3 ">Les p'tits poussins</h2>
        <br>
        <br>
        <p class="text-center m2-5">Une plateforme dédié aux parents et aux<br> professionnel pour vous faciliter la vie.<br><br>Trouver les crêches près de chez vous en toute<br> simplicité et en un temps record.<br><br>Profitez de notre bracelet connecté en obtenant<br> le rang abonné sur notre application.</p>

        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        {% else %}
        <div class="button">
            <a href="{{ path('login') }}" class="btn  btn btn-outline-secondary  btn-lg button mt-3  pare ">Je suis parents</a>
            <a href="{{ path('loginpro') }}" class="btn  btn btn-outline-secondary btn-lg button mt-3  pro">Je suis un pro</a>
        </div>
        {% endif %}

    </div>

    {#end container#}

    {#    container#}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="h1 text-center mt-2 titl">Les p'tits poussins</h1>
                <h2 class="h2 text-center">explication pour le parent</h2>
                <p class="text-center"> Rechercher des crêches et, ou une nounou en un click</p>
                <p class="text-center">Gagné du temps pour l'inscription de vos enfants en crêche</p>
                <p class="text-center">Inscrivez vous et profitez de notre application qui vous fera gagner du temps en vous indiquant toutes les crêches ou particuliers près de vous.</p>
                <p class="text-center">Abonnez vous et recevez un bracelet connecté qui assurera un emeilleure sécurité pendant la garde de votre enfant.</p>
                <p class="text-center">Cliquez sur ce lien si vous désirez plus d'information sur notre bracelet connecté:<br> <a href="index.html.twig">Informations sur le bracelet</a></p>
                <a href="#" class="btn btn-outline-dark btn-lg button mt-3 mb-4 col-md-6 offset-md-3"> Nous
                    contacter</a>
            </div>
            <div class="col">
                <img class=" mt-1 imgirl" src={{ asset('build/images/girly.jpg') }} alt="image_creche"/>
                <h5 class="h2 text-center">explication pour l'entreprise</h5>
                <br>
                <p class="text-center">Inscrivez vous en tant qu'entreprise afin d'aider les parents à vous localiser.Devenez partenaire et profitez de notre bracelet connecté</p>
                <a href="{{ path('becomepro') }}" class="btn btn-outline-dark btn-lg button mt-3 col-md-6 offset-md-3"> Nous contacter</a>
            </div>
        </div>
    </div>
    </div>
    </div>
    {#end container#}

{% endblock body %}