{% extends 'base.html.twig' %}

{% block body %}
    <div class="clear"></div>
    {{ parent() }}
    {{ form_start(form) }}
    <h1 class="text-center mt-5">Insription</h1>
    <div class="contentform">
        <div class="form-group">
            {{ form_label(form.password.first, 'Mail', {
                'label_attr': {'class': 'lab'}
            }) }}
            {{form_widget(form.mail)}}
        </div>

        <div class="form-group">
            {{ form_label(form.password.first, 'Mot de passe', {
                'label_attr': {'class': 'lab'}
            }) }}
            {{form_widget(form.password.first)}}
        </div>

        <div class="form-group">
            {{ form_label(form.password.second, 'Confirmez votre mot de passe', {
                'label_attr': {'class': 'lab'}
            }) }}
            {{form_widget(form.password.second)}}
        </div>

        <div class="form-group">

            {{ form_widget(form.Conditionsdutilisations,{'attr':{'class':'box'}, 'label' : 'Pour lire les conditions d\'utilisations c\'est ' }) }}<a href="{{ path('conditions') }}" class="condi">ici</a>


        </div>

    </div>

    <input type="hidden" name="token"  value="{{ csrf_token('create-parentt') }}">


    <input type="submit"  value="S'inscrire" class="bouton-contact text-center">
    {{ form_end(form) }}



{% endblock body %}

