{% extends 'base.html.twig' %}

{% block body %}
    <div class="clear"></div>
    {{ parent() }}
<form>
    <h1 class="text-center mt-5">Insription</h1>
    <div class="contentform">
        <div class="form-group">
            {{ form_start(form) }}
            {{form_row(form.mail)}}
        </div>

        <div class="form-group">
            {{ form_start(form) }}
            {{form_row(form.password.first)}}
        </div>

        <div class="form-group">
            {{ form_start(form) }}
            {{form_row(form.password.second)}}
        </div>

        <div class="form-group">
            {{ form_row(form.Conditionsdutilisations,{'attr':{'class':'box'}}) }}
            <a class="link" href="#">Pour les lire c'est ici</a>
        </div>

    </div>

    <input type="hidden" name="token"  value="{{ csrf_token('create-parentt') }}">


    <input type="submit"  value="S'inscrire" class="bouton-contact">


</form>

{% endblock body %}

